body {
    background-color: rgb(233, 233, 233);
}

p {
    font-size: medium;
    
}

.titulo {
    text-align: center;
    text-shadow: 0cqb;
    color:gray;
    
}

.name{
    text-align: center;
    color: red;
}